.tasks-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 46rem;
  height: 17.938;

  margin: 4rem auto;

  gap: 12px;

  .tasks-infos {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid var(--gray-300);

    width: 46rem;

    margin-bottom: 1.5rem;

    .created-tasks {
      margin-bottom: 1.5rem;

      p {
        color: var(--blue);
        font-weight: 700;
        font-size: 0.875rem;
      }

      span {
        background: var(--gray-400);
        color: var(--gray-200);
        
        padding: 2px 8px;

        border-radius: 999px;

        font-weight: 700;
        font-size: 0.75rem;
      }
    }

    .done-tasks {
      margin-bottom: 1.5rem;

      p {
        color: var(--purple);
        font-weight: 700;
        font-size: 0.875rem;
        
      }

      span {
        background: var(--gray-400);
        color: var(--gray-200)
        ;
        padding: 2px 8px;

        border-radius: 999px;

        font-weight: 700;
        font-size: 0.75rem;
      }
    }

    div {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
  }

  .tasks-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 4rem;
    color: var(--gray-300);
    
    .clip-icon {
      margin-bottom: 1rem;
    }

    p {
      font-weight: 700;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
}